<div class="conatiner-fluid layoutHeight">
  <div class="row align-items-center justify-content-center content">
    <div class="col-lg-3 col-md-3 mt-3 col-sm-12 d-flex justify-content-center align-items-center "><img
        class="headerLogo"
        src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/logo-1@1x.png">
    </div>
    <div class="col-lg-9 col-md-9  col-sm-12 mt-2 d-flex align-items-center">
      <a class="headerNavLink hindguntur-normal-white-16px ml-2" pagescroll="">Patient Care</a>
      <a class="headerNavLink hindguntur-normal-white-16px ml-2" pagescroll="">Know about Cancer</a>
      <a class="headerNavLink hindguntur-normal-white-16px ml-2" pagescroll="">Departments</a>
      <a class="headerNavLink hindguntur-normal-white-16px ml-2" pagescroll="">About Us</a>
      <a class="headerNavLink hindguntur-normal-white-16px ml-2" pagescroll="">Online Survey</a>
      <a class="headerNavLink hindguntur-normal-white-16px ml-2" pagescroll="">Register</a>
    </div>
  </div>
  <video [muted]="true" autoplay playsinline loop id="myVideo">
    <source src="/assets/header.mp4" type="video/mp4">
  </video>

</div>