<div class="container-fluid">
    <div class="row mx-2  justify-content-center align-items-start footer-bg h-100">
        <div class="col-lg-3 col-md-5 col-sm-6 d-flex justify-content-center" style="margin-top: 8%">
            <img class="pngfindcom-flag-of-india-png-408105-YRVxtg" data-id="fb40d2eb-b219-4382-989f-a287824c8300"
                src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/pngfind-com-flag-of-india-png-408105@1x.png"
                anima-src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/pngfind-com-flag-of-india-png-408105@1x.png">
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 mx-auto" style="margin-top: 8%">
            <div class="departments-YRVxtg hindguntur-bold-white-16px mb-3" data-id="301f9e6b-ea47-40ed-a48b-fdf710015bd8">
                Patient
                Care</div>
            <div class="departments-YRVxtg hindguntur-normal-white-14px" data-id="db4926ca-1d6e-4577-8122-091b123bdfbe">
                Clinics
            </div>
            <div class="outpatient-services-YRVxtg hindguntur-normal-white-14px"
                data-id="bd53072b-ac7c-4235-98d9-93d7872fb3d7">
                Outpatient Services</div>
            <div class="outpatient-services-YRVxtg hindguntur-normal-white-14px"
                data-id="bd53072b-ac7c-4235-98d9-93d7872fb3d7">
                Inpatient Services</div>
            <div class="outpatient-services-YRVxtg hindguntur-normal-white-14px"
                data-id="bd53072b-ac7c-4235-98d9-93d7872fb3d7">
                Diagnostic Services</div>
            <div class="outpatient-services-YRVxtg hindguntur-normal-white-14px"
                data-id="bd53072b-ac7c-4235-98d9-93d7872fb3d7">
                Therapeutic Services</div>
            <div class="outpatient-services-YRVxtg hindguntur-normal-white-14px"
                data-id="bd53072b-ac7c-4235-98d9-93d7872fb3d7">
                Community Oncology </div>
            <div class="outpatient-services-YRVxtg hindguntur-normal-white-14px"
                data-id="bd53072b-ac7c-4235-98d9-93d7872fb3d7">
                Outreach Services</div>
            <div class="telemedicines-YRVxtg hindguntur-normal-white-14px"
                data-id="a2777ebc-d7af-4afb-8942-b6eebf9f6e45">
                Telemedicines</div>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6" style="margin-top: 8%">
            <div class="departments-YRVxtg hindguntur-bold-white-16px mb-3" data-id="07b9be44-7de3-4dd5-82ba-44c303c29a13">
                Know
                about Cancer</div>
            <div class="departments-YRVxtg hindguntur-normal-white-14px" data-id="07b9be44-7de3-4dd5-82ba-44c303c29a13">
                What
                is Cancer</div>
            <div class="departments-YRVxtg hindguntur-normal-white-14px" data-id="07b9be44-7de3-4dd5-82ba-44c303c29a13">
                Causes
            </div>
            <div class="departments-YRVxtg hindguntur-normal-white-14px" data-id="07b9be44-7de3-4dd5-82ba-44c303c29a13">
                Signs
                and Symptoms</div>
            <div class="departments-YRVxtg hindguntur-normal-white-14px" data-id="07b9be44-7de3-4dd5-82ba-44c303c29a13">
                Types
                of Cancer</div>
            <div class="departments-YRVxtg hindguntur-normal-white-14px" data-id="07b9be44-7de3-4dd5-82ba-44c303c29a13">
                Diagnosis and Treatment</div>
            <div class="departments-YRVxtg hindguntur-normal-white-14px" data-id="07b9be44-7de3-4dd5-82ba-44c303c29a13">
                Prevention</div>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6" style="margin-top: 8%">
            <div class="hindguntur-bold-white-16px mb-3">
                Departments</div>
            <div class="hindguntur-normal-white-14px">
                Department 1</div>
            <div class="hindguntur-normal-white-14px">
                Department 2</div>
            <div class="hindguntur-bold-white-16px mt-5">
                Stay Connected</div>
            <i class="fab fa-facebook-f fa-icon-style fa-gradient mt-3 mr-2" style="font-size: 2rem;"></i>
            <i class="fab fa-twitter fa-icon-style mt-3  mx-2" style="font-size: 2rem;"></i>
            <i class="fab fa-youtube fa-icon-style mt-3 mx-2" style="font-size: 2rem;"></i>
            <i class="fab fa-instagram fa-icon-style mt-3 mx-2" style="font-size: 2rem;"></i>


            <!-- <div class="facebook-YRVxtg" data-id="be8eda96-d443-4fce-850a-6e17b10d5181">
                <div class="oval-CVppBM" data-id="92493acf-1e13-4e90-9376-34c8fbab1268"></div>
                <img class="facebook-CVppBM" data-id="27a911dc-45b0-43f6-940d-b36001d57826"
                    src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/facebook@1x.png"
                    anima-src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/facebook@1x.png">
            </div> -->

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 my-5">
            <div class="department-2-YRVxtg hindguntur-normal-white-14px col-12 d-flex justify-content-center">Copyright
                ©2022 XXXXXXXXX</div>
        </div>
    </div>
    <div class="row mx-2  justify-content-center align-items-center"></div>
</div>

<!-- <div class="row d-flex justify-content-around">

            <div class="instagram-YRVxtg" data-id="6c868716-c768-421d-b95a-728a726a18c2">
                <img class="instagram-Cdi6oy" data-id="371f2b06-a3d1-4945-9387-164e9b0cdea4"
                    src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/instagram@1x.png"
                    anima-src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/instagram@1x.png">
            </div>
            <div class="instagram-YRVxtg" data-id="e88b6948-9056-4048-8fef-01e97715409e">
                <img class="instagram-Cdi6oy" data-id="894af176-9e50-4706-8198-e8330a6c3be4"
                    src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/youtube@1x.png"
                    anima-src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/youtube@1x.png">
            </div>
            <div class="instagram-YRVxtg" data-id="1ce701d5-447a-47e2-bdc0-a580daef3ab1">
                <img class="instagram-Cdi6oy" data-id="3db80682-3888-4565-a5e6-79a0ce12c44d"
                    src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/twitter@1x.png"
                    anima-src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/twitter@1x.png">
            </div>
            <div class="instagram-YRVxtg" data-id="be8eda96-d443-4fce-850a-6e17b10d5181">
                <img class="instagram-Cdi6oy" data-id="27a911dc-45b0-43f6-940d-b36001d57826"
                    src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/facebook@1x.png"
                    anima-src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/facebook@1x.png">
            </div>

        </div> -->