<div class="container-fluid layoutHeight">
    <div class="row justify-content-between h-100">

        <div class="col-lg-5 col-md-5 col-sm-12 my-auto  h-auto recHeight">
            <div class="create-a-future-with-YRVxtg hindguntur-bold-elephant-38px mb-4 ">Latest News</div>
            <div class="im-here-for-you-YRVxtg mb-2">Lorem Ipsum is simply dummy text of the printing</div>
            <div class="lorem-ipsum-is-simpl-YRVxtg hindguntur-normal-fiord-16px mb-5"
                data-id="f264ab0c-8c27-4219-955d-3a20cbdf960c mb-5"> Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,
                when an unknown printer took a galley Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown
                printer took a galley Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a
                galley</div>

        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 recHeight">
            <div class="rectangle-7-YRVxtg" data-id="b2bca190-2f82-4d7f-ae6a-2446beda2cee"></div>
            <img class="ysr-YRVxtg" data-id="dab5e1c1-f001-4849-8106-50a76ff84e2a"
                src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/ysr@1x.png"
                anima-src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/ysr@1x.png">
        </div>
    </div>
</div>