<div class="container-fluid layoutHeight">
    <div class="row justify-content-between  h-100">
       <div class="col-lg-5 col-md-5 col-sm-12 recHeight" >
          <div class="rectangle-7-YRVxtg" data-id="b2bca190-2f82-4d7f-ae6a-2446beda2cee"></div>
          <img class="ysr-YRVxtg" data-id="dab5e1c1-f001-4849-8106-50a76ff84e2a"
             src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/ysr@1x.png"
             anima-src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/ysr@1x.png">
       </div>
       <div class="col-lg-5 col-md-5 col-sm-12 mt-5 recHeight">
          <div class="create-a-future-with-YRVxtg hindguntur-bold-elephant-38px mb-4 ">Create a future without
             cancer.<br>Thetime to act is now.</div>
          <div class="im-here-for-you-YRVxtg mb-2">“I’m here for you…</div>
          <div class="lorem-ipsum-is-simpl-YRVxtg hindguntur-normal-fiord-18px mb-5"
             data-id="f264ab0c-8c27-4219-955d-3a20cbdf960c mb-5"> Lorem Ipsum is simply dummy text of the printing and
             typesetting industry. Lorem Ipsum has been the industry’s
             standard dummy text ever since the 1500s, when an unknown printer took a galley</div>
          <img class="logo-YRVxtg" data-id="a6a8e5c9-7a36-406c-b572-10c48994a774"
             src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/logo@1x.png"
             anima-src="https://cdn.animaapp.com/projects/625a8067670b0b62486d7887/releases/625a81044a30c51dd8c29392/img/logo@1x.png">
          <div class="ys-jagan-mohan-reddy-YRVxtg" data-id="ea79f3d1-b42c-42fb-b266-1ab0f5240bce"><span
                class="span0-nAutl0">-Y.S. Jagan Mohan Reddy</span><span
                class="span1-nAutl0 hindguntur-bold-fiord-20px">,<br></span><span
                class="span2-nAutl0 hindguntur-normal-fiord-18px">Chief Minister of Andhra Pradesh.</span></div>
       </div>
    </div>
 </div>